@import './index.less';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	font-weight: normal;
}

html {
	--bg-main: #f7f7f7;
	--bg-off: white;
	--text: black;

	#darkMode({
		--bg-main: #15131b;
		--bg-off: #23222b;
		--text: white;
	});

	color: @colors[text];
	font-family: @fonts[body];

	body {
		background: @colors[ @bg][main];
		display: flex;
		align-items: center;
		justify-content: center;

		@media print {
			align-items: flex-start;
			padding-top: @spacing;
		}

		min-height: 100vh;
		min-width: 100vw;
	}
}
