#size(@size) {
	width: @size;
	height: @size;
}

#axisProp(@property, @direction, @amount) {
	& when (@direction = x) {
		@{property}-left: @amount;
		@{property}-right: @amount;
	}
	& when (@direction = y) {
		@{property}-top: @amount;
		@{property}-bottom: @amount;
	}
}

#noLayoutBorder(@size, @color) {
	box-shadow: 0 0 0 @size @color;
}

#offsetColumnGutter(@columns, @size) {
	&:nth-child(@{columns}) {
		margin-right: -@size;
	}

	@leftSideSelector: ~'@{columns}n+1';
	&:nth-child(@{leftSideSelector}) {
		margin-left: -@size;
	}
}

#inset(@position) {
	left: @position;
	right: @position;
	top: @position;
	bottom: @position;
}

#darkMode(@rules) {
	@media (prefers-color-scheme: dark) {
		@rules();
	}
}

#active(@rules) {
	&:focus,
	&:hover {
		@rules();
	}
}

#simpleGrid(@columns, @gap: 0) {
	display: grid;
	grid-template-columns: repeat(@columns, 1fr);
	gap: @gap;
}

#tintedBackground(@opacity) {
	background-color: rgba(0, 0, 0, @opacity);
}
